body {
    margin-top: 0;
    font-family:'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* Översta raden */

.profilbild {
    height: 50%;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    
}

.topRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(140, 222, 254);
    height: 30rem;
    width: 100%;
    /* border-radius: 3%; */
    /* margin-top: 1rem; */
}

.topRow > div > h1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:3rem;
    
}

.welcome > h1 {
    font-size: xx-large;
}

/* INFO UNDER */

#info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3em;
}

#info > * { 
    flex: 1;
}

.omMig {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem;
    /* background-color: yellowgreen; */
}

.arbeten {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    margin: 5rem;
    /* background-color: yellow ; */
}

.omMig > h3 {
    font-size: xx-large;
    font-weight:bolder;
}

.omMig > p {
    font-size: large;
}

.work > li {
    font-size:large;
}

.work > h2 {
    font-size: xx-large;
}

