body {
    margin-top: 0;
    font-family:'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* Översta raden */

.profilbild {
    height: 50%;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    
}

.topRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 102, 137);
    height: 30rem;
    width: 100%;
}

.topRow > div > h1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:3rem;
    color: white;
    text-shadow:0px 0px 2px black;
    
}

.welcome > h1 {
    font-size: xx-large;
}

/* INFO UNDER */

#info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em; 
}

#info > * { 
    flex: 1;
}

.omMig {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5rem;
    /* background-color: yellowgreen; */
}

.omMig > h3 {
    font-size: xx-large;
    font-weight:bolder
}


.omMig > p {
    font-size: large;
    margin-top: -10px;
}

.arbeten {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    margin: 5rem;
    align-items: center;
    /* background-color: yellow ; */
}

.work > li {
    font-size:large;

}

.work > h2 {
    font-size: xx-large;
    /* text-align: left; */
}

/* TIDIGARE KUNSKAPER */
#knowledge {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    column-gap: 1em;
    background-color: rgb(7, 102, 137);
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    justify-content: center;
}

#knowledge > * {
    flex: 1;
}

.know {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    /* background-color: yellowgreen; */
    margin-left: 6rem;
    margin-right: 6rem;
}

.doneBefore {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgb(244, 100, 220); */
    
}

.doneBefore > h2 {
    margin-top: 50px;
}

.part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: rgb(46, 174, 174); */
    justify-content:center;
    margin-top: -20px;
}

.showRoom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    /* background-color: brown; */
}

.pictures {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pictures > a > img {
    width: 8rem;
    height: auto;
    flex-wrap: wrap;
}

.doneBefore > img {
    box-sizing: border-box;
    
}



/* FOOTER */
#contact {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(84, 84, 84);
}

.imagesMail > a > img{
    width: 6rem;
    height: auto;
    margin: 2rem;
    flex-wrap: wrap;
    
}

.imagesPhone > a > img {
    width: 5rem;
    height: auto;
    margin-bottom: 40%;
    margin: 2rem;
    margin-top: 1rem;
}

#contact {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
